* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 200px;
  padding-top: 100px;
}

.wrapper {
  max-width: 100%;
  height: 100%;

}

.container{
  max-width: 1300px;
  margin: auto;
  height: 100%;
}

.header-top{
  background-color: #f5f8fa;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  width: 100%;
  height: 100%;

}

.nav-box-sx {
  width: 30%;
  height: 100%;
  float: left;
}

.nav-box-sx ul {
  padding-top: 30px;
  line-height: 30px;
}



.nav-box-sx li {
  display: inline-block;
}

.nav-box-sx a {
  color: #425b76;
}

/*DROPDOWN MENU*/

.nav-box-sx ul ul {
  display: none;
  position: absolute;
  top: 60%;
  left: 15%;
  width: 6%;
  border: 1px solid #425b76;
  background-color: #fff;
}

.dropdown-menu:hover ul{
  display: block;
  border-radius: 5%;
}


.dropdown-menu li {
  position: relative;
  float: none;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.dropdown-menu li:hover {
  background-color: #c1f0f7;
  opacity: 0.9;
  color: #425b76;
  font-weight: bold;
}






.contact-sales {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 2px solid lightgrey;
}


.nav-box-dx{
  width: 30%;
  float: right;
}

.nav-box-dx ul {
  padding-top: 10px;
  line-height: 50px;
  float: right;
}

.nav-box-dx li {
  display: inline-block;
  padding: 10px;
}

.nav-box-dx li a i {
  color: #425b76;
}

.btn1, .btn2 {
  padding: 10px 20px;
  border-radius: 2%;
}

.btn1 {
  border: 1px solid #ff7a59;
  background-color: #fff;
  color: #ff7a59;
  font-weight: bold;
}
.btn1:hover {
  background-color: #fff0e6;
  cursor: pointer;
}

.btn2 {
  background-color: #ff7a59;
  color: #fff;
  border: none;
}
.btn2:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-bottom {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.nav-logo {
  padding-top: 30px;
}
.nav-logo img {
  height: 30px;
  float: left;
}

.nav-menu {
  padding-top: 5px;
  padding-right: 10px;
  float: right;

}

.nav-menu li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-menu a{
  color: #425b76;
  font-weight: bold;
}

main .container::after{
  content: '';
  display: table;
  clear: both;
}

.top-main {
  background-color: #425b76;
  width: 100%;
  height: 100px;
}

.top-main p {
  margin: auto;
  padding-top: 20px;
  width: 70%;
  color: #fff;
  font-size: 20px;
  line-height: 15px;
}

.bottom-main {
  background-color: #f1f1f1;
  width: 100%;
  padding-bottom: 100px;
}

#first-bottom-main-card {
  width: 25%;
  padding-top: 100px;
}
#first-bottom-main-card h1{
  color: #425b76;
  font-size: 40px;
}

}

.bottom-main-card h1 {
  font-size: 60px;
  color: #425b76;
}

.bottom-main-card p {
  margin-top: 20px;
  font-size: 20px;
}

.bottom-main-card button {
  background-color: #ff7a59;
  color: #fff;
  border: none;
  padding: 25px;
  margin-top: 20px;
  border-radius: 3%;
  font-size: 20px;
  text-align: center;
}


.container-padding{
  padding-bottom: 100px;
}
.section-cards {
  background-color: #f5f8fa;
  width: 100%;
}

#wp-bg-section-cards{
  background-color: #f5f8fa;
}

.cards {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 100px;
}

.cards::after{
  display: table;
  content: '';
  clear: both;
}

.card{
  background-color: #fff;
  width: 400px;
  height: 450px;
  float: left;
  margin-right: 33px;
  margin-top: 20px;
}

.card:hover{
  backface-visibility: hidden;
    cursor: pointer;
    transition: box-shadow .15s ease-in-out,transform .15s ease-in-out;
    background: #fff;
    border-radius: .1875rem;
    transition: .3s ease-in-out;
    position: relative;
    padding: 3px;
    box-shadow: 0 0 11px #eaf0f6;
}

.card h1 {
  font-size: 35px;
  color: #425b76;
}

.card-one-text {
  margin-top: 20px;
  font-size: 18px;
  color:  #425b76;
}

#special-card {
  background-color: #f5f8fa;
}

.card-title{
  padding: 30px 30px 10px;
  color: #425b76;
  font-weight: bolder;
}

.card-paragrafo {
  padding: 20px 30px;
  color: #425b76;
  font-size: 15px;
  border-bottom: 1px solid lightgrey;
}

.card h4 {
  color: #425b76;
  padding: 25px;
}

.card ul{
  padding: 0px 20px;
}

.card li {
  padding: 5px;
  color: #425b76;
}

.card i {
  color: #ff7a59;
}

.wp-btn{
  width: 300px;
  margin-top: 15px;
}

.card button {
  display: block;
  margin: auto;
  padding: 15px 60px;
  background-color: #ff7a59;
  color: #fff;
  font-size: 17px;
  border: none;
  border: 1px solid #ff7a59;
}




.griglia{
  background-image:  linear-gradient(45deg,#00a4bd,#00bda5);
  width: 100%;
  padding-top: 100px;
}

.main-griglia{
  padding-top: 50px;
}
.header-griglia {
  width: 60%;
  margin: auto;
}

.header-griglia h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.header-griglia p {
  font-size: 23px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  line-height: 35px;
}

.box-griglia {
  width: 100%;
  height: 500px;
  margin-top: 100px;
}
.boxes {
  width: 100%;
  margin: auto;
}
.boxes::after{
  content: '';
  display: table;
  clear: both;
}

.box {
  width: 300px;
  height: 230px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  float: left;
}

#no-border-dx{
  border-right: none;
}

#no-border-bottom{
  border-bottom: none;
}

#no-border-bottom-dx{
  border-bottom: none;
  border-right: none;
}

.logo-box {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.logo-box img {
  display: block;
  margin: auto;
  padding-right: 15px;
}

.logo-box h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.logo-box p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}


.customers {
  width: 100%;
  margin-top: 100px;
}

.customer-top{
  width: 100%;
}
.customer-top::after{
  content: '';
  display: table;
  clear: both;
}
.customer-top-text{
  width: 40%;
  float: left;
  padding-top: 40px;
}

.customer-top-text h1{
  font-size: 40px;
  color: #425b76;
}

.customer-top-text p{
  font-size: 20px;
  line-height: 30px;
  color: #425b76;
}
.customer-top-img{
  width: 50%;
  float: right;
}

.grid-img{
  width: 100%;
}
.grid-img::after{
  content: '';
  display: table;
  clear: both;
}

.wp-img {
  float: left;
  margin-right: 10px;
  line-height: 80px;
}

.wp-img img{
  height: 15px;
}





#bg-color {
  background-color: #fff;
}

.bottom-main-last-section {
  margin-top: 100px;
  width: 100%;
  padding-bottom: 100px;
}

.bottom-main-last-section-wp{
  width: 100%;
}
.bottom-main-last-section-wp::after{
  content: '';
  display: table;
  clear: both;
}

.bottom-main-card {
  width: 50%;
  float: left;
}

.bottom-main-card h1 {
  font-size: 30px;
}

.bottom-main-card p {
  font-size: 18px;
  color: #425b76;
}

.bottom-main-img{
  width: 40%;
  float: right;
  padding-top: 10px;
}

.bottom-main-img img {
  height: 360px;
}


.layout-footer{
  width: 100%;
  background-color: #33475b;
  padding-top: 150px;
}

.layout-footer a:hover {
  color: #0091ae;
  font-weight: 600;
}

.nav-social i:hover{
  color: #0091ae;
}

.nav-footer{
  max-width: 1500px;
  margin: auto;
}

.nav-footer {
  content: '';
  display: table;
  clear: both;
}

.nav-footer-block{
  width: 255px;
  float: left;
}

.nav-footer-block li {
  line-height: 50px;
}

.nav-footer-block a{
  color: lightgrey;
}
.nav-footer-block h1{
  color: #fff;
}

.nav-footer-block button{
  padding: 15px;
  margin-top: 10px;
  background-color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5%;
}

.nav-social li{
  display: inline-block;
}

.nav-social i{
  font-size: 25px;
  padding: 15px 10px 0 0px;
  color: lightgrey;
}

.language {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
}

.language li {
  display: inline-block;
  padding: 20px 40px 20px;
}

.language li a {
  color: #fff;
}

.copyright {
  width: 95%;
  border-top: 1px solid #fff;
  padding-bottom: 50px;
}

.copyright::after{
  content: '';
  display: table;
  clear: both;
}

.logo-footer{
  width: 40%;
  padding-top: 50px;
  float: left;
}

.copyright p{
  color: #fff;
  line-height: 50px;
}

.copyright-footer {
  float: right;
  padding-top: 60px;
}

.copyright-footer li{
  display: inline-block;
  padding: 20px;
}

.copyright-footer a{
  color: #fff;
}
