* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header {
  width: 100%;
  height: 200px;
  padding-top: 100px;
}

.wrapper {
  max-width: 100%;
  height: 100%;
}

.container{
  max-width: 1500px;
  margin: auto;
  height: 100%;
}

.header-top{
  background-color: #f5f8fa;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  width: 80%;
  height: 100%;
  margin: auto;

}

.nav-box-sx {
  width: 30%;
  height: 100%;
  float: left;
}

.nav-box-sx ul {
  padding: 10px;
  line-height: 50px;
}

.nav-box-sx li {
  display: inline-block;
  padding: 10px;
}


.nav-box-dx{
  width: 35%;
  height: 100%;
  float: right;
}

.nav-box-dx ul {
  padding: 10px;
  line-height: 50px;
}

.nav-box-dx li {
  display: inline-block;
  padding: 10px;
}

.btn1, .btn2 {
  padding: 10px 20px;
  border-radius: 2%;
}

.btn1 {
  border: 1px solid #ff7a59;
  background-color: #fff;
  color: #ff7a59;
  font-weight: bold;
}

.btn2 {
  background-color: #ff7a59;
  color: #fff;
  border: none;
}




.header-bottom {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.nav-logo {
  padding-top: 30px;
}
.nav-logo img {
  height: 30px;
  float: left;
}

.nav-menu {
  padding: 5px;
  padding-right: 80px;
  float: right;
}

.nav-menu li {
  display: inline-block;
  padding: 0px 10px;
}



.top-main {
  background-color: #425b76;
  width: 100%;
}

.top-main p {
  margin: auto;
  padding: 20px;
  width: 70%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.bottom-main {
  background-color: #f1f1f1;
  width: 100%;
}

.bottom-main-card {
  width: 40%;
  padding: 100px;
}

.bottom-main-card h1 {
  font-size: 50px;
  color: #425b76;
}

.bottom-main-card p {
  margin-top: 20px;
  font-size: 20px;
}

.bottom-main-card button {
  background-color: #ff7a59;
  color: #fff;
  border: none;
  padding: 25px;
  margin-top: 20px;
  border-radius: 3%;
  font-size: 20px;
  text-align: center;
}


.section-cards {
  background-color: #f5f8fa;
  width: 100%;
  margin-bottom: 100px;
}

.cards {
  background-color: #f5f8fa;
  width: 1200px;
  margin: auto;
  display: table;
  content: '';
  clear: both;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.card{
  background-color: #fff;
  width: 300px;
  height: 450px;
  float: left;
  margin-left: 75px;
  margin-top: 50px;
}

.card h1 {
  font-size: 35px;
  color: #425b76;
}

.card-one-text {
  margin-top: 20px;
  font-size: 18px;
  color:  #425b76;
}

#special-card {
  background-color: #f5f8fa;
}

.card-title{
  padding: 30px 30px 10px;
  color: #425b76;
  font-weight: bolder;
}

.card-paragrafo {
  padding: 20px 30px;
  color: #425b76;
  font-size: 15px;
  border-bottom: 1px solid lightgrey;
}

.card h4 {
  color: #425b76;
  padding: 25px;
}

.card ul{
  padding: 0px 20px;
}

.card li {
  padding: 5px;
  color: #425b76;
}

.card i {
  color: #ff7a59;
}

.wp-btn{
  width: 300px;
  margin-top: 15px;
}

.card button {
  display: block;
  margin: auto;
  padding: 15px 60px;
  background-color: #ff7a59;
  color: #fff;
  font-size: 17px;
  border: none;
  border: 1px solid #ff7a59;
}

.griglia{
  background-image:  linear-gradient(45deg,#00a4bd,#00bda5);
  width: 100%;
  padding-top: 100px;
}

.main-griglia{
  padding-top: 50px;
}
.header-griglia {
  width: 60%;
  margin: auto;
}

.header-griglia h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.header-griglia p {
  font-size: 23px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  line-height: 35px;
}

.box-griglia {
  width: 100%;
  height: 500px;
  margin-top: 100px;
}
.boxes::after{
  content: '';
  display: table;
  clear: both;
}

.boxes {
  margin-left: 150px;
}

.box {
  width: 300px;
  height: 230px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  float: left;
}

#no-border-dx{
  border-right: none;
}

#no-border-bottom{
  border-bottom: none;
}

#no-border-bottom-dx{
  border-bottom: none;
  border-right: none;
}

.logo-box {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.logo-box img {
  display: block;
  margin: auto;
  padding-right: 15px;
}

.logo-box h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.logo-box p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.customers {
  width: 100%;
  height: 1000px;
}

.customer-top{
  width: 80%;
  margin: auto;
  margin-top: 150px;
  border: 1px solid black;
}

.customer-top{
  content: '';
  display: table;
  clear: both;
}

.customer-top-text{
  width: 40%;
  float: left;
  padding-top: 30px;
}

.customers h1 {
  font-size: 40px;
}

.customers p {
  font-size: 25px;
  line-height: 35px;
  margin-top: 3px;
}

.customer-top-img{
  height: 100%;
  width: 60%;
  float: left;
  border: 1px solid red;
}

.customer-top-img::after{
  content: '';
  display: table;
  clear: both;
}

.grid-img {
  width: 15%;
  border: 1px solid red;
}

.grid-img img {
  height: 20px;
}

#bg-color {
  background-color: #fff;
}


.layout-footer{
  width: 100%;
  background-color: #33475b;
  border: 1px solid red;
  padding-top: 100px;
}

.nav-footer{
  max-width: 1500px;
  margin: auto;
}

.nav-footer {
  content: '';
  display: table;
  clear: both;
}

.nav-footer-block{
  width: 296px;
  float: left;
}

.nav-footer-block li {
  line-height: 50px;
}

.nav-footer-block a{
  color: lightgrey;
}
.nav-footer-block h1{
  color: #fff;
}

.nav-footer-block button{
  padding: 15px;
  margin-top: 10px;
  background-color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5%;
}

.nav-social li{
  display: inline-block;
}

.nav-social i{
  font-size: 30px;
  padding: 15px 15px 0 0px;
  color: lightgrey;
}

.language {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
}

.language li {
  display: inline-block;
  padding: 20px 40px 20px;
}

.language li a {
  color: #fff;
}

.copyright {
  width: 80%;
  margin: auto;
  border-top: 1px solid #fff;
  padding-bottom: 100px;
}

.copyright::after{
  content: '';
  display: table;
  clear: both;
}

.logo-footer{
  width: 40%;
  padding-top: 50px;
  float: left;
}

.copyright p{
  color: #fff;
  line-height: 50px;
}

.copyright-footer {
  float: right;
  padding-top: 60px;
}

.copyright-footer li{
  display: inline-block;
  padding: 20px;
}

.copyright-footer a{
  color: #fff;
}
